---
import Hero from '../../components/Hero.astro';
import Layout from '@layouts/Layout.astro';
import { getTranslation } from '@i18n/index';
import BenefitsGrid from '@components/BenefitsGrid.astro';
import { Sun, Laptop, Smartphone, ShieldCheck } from 'lucide-astro';
import Testimonials from '@components/Testimonials.astro';

// Idioma
const lang = Astro.params.lang;
const currentLang = lang === 'es' || lang === 'en' ? lang : 'es';

const t = getTranslation(currentLang);

// Rutas estáticas
export async function getStaticPaths() {
  return [{ params: { lang: 'es' } }, { params: { lang: 'en' } }];
}
---

<Layout>
  <Hero
    title={t.index.hero.title}
    subtitle={t.index.hero.subtitle}
    image="/img/home/hero.jpg"
    lang={currentLang}
    t={t}
  />
  <BenefitsGrid
    title={t.index.benefits.title}
    items={[
      {
        icon: Sun,
        title: t.index.benefits.items[0].title,
        description: t.index.benefits.items[0].description,
      },
      {
        icon: Laptop,
        title: t.index.benefits.items[1].title,
        description: t.index.benefits.items[1].description,
      },
      {
        icon: Smartphone,
        title: t.index.benefits.items[2].title,
        description: t.index.benefits.items[2].description,
      },
      {
        icon: ShieldCheck,
        title: t.index.benefits.items[3].title,
        description: t.index.benefits.items[3].description,
      },
    ]}
  />

  <Testimonials title={t.index.testimonials.title} items={t.index.testimonials.items} />
  <div class="py-5"></div>
</Layout>
